<ion-header no-border>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
<ion-title class="ion-text-capitalize">
      namao
</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarPopo($event)">
      <ion-icon name="contact" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Esta sera la pagina 3</h2>
</ion-content>
